{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-12"></div>
            <div class="col-md-6 col-sm-8 col-xs-12">
                <div class="demo-card" style="margin: auto; margin-top: 30px;">
                    <h3 class="title text-center">Register</h3>
                    <div class="social">
                        <button href="#" class="btn btn-fill btn-icon btn-facebook"><i class="fa fa-facebook"></i></button>
                        <button href="#" class="btn btn-fill btn-icon btn-google"><i class="fa fa-google"></i></button>
                        <button href="#" class="btn btn-fill btn-icon btn-twitter"><i class="fa fa-twitter"></i></button>
                    </div>

                    <div class="division">
                        <div class="line l"></div>
                        <span>or</span>
                        <div class="line r"></div>
                    </div>
                    <form class="register-form">
                        <input type="text" class="form-control" placeholder="Email">

                        <input type="password" class="form-control" placeholder="Password">
                        
                        <input type="password" class="form-control" placeholder="Confirm Password">
                        
                        <button class="btn btn-fill btn-block">Register</button>
                    </form>
                    <div class="login">
                        <p>Already have an account? <a>Log in</a>.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-12"></div>
        </div>
    </div> 

{% endblock content %}