{% extends "base.html" %}

{% block content %}

    <div class="container" style="margin-top: 7%;>
        <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-12"></div>
            <div class="col-md-6 col-sm-8 col-xs-12">
                
                {% if user.is_authenticated %}
                <div class="demo-card" style="margin: auto; margin-top: 30px; min-height: auto;">
                    <h3 class="title text-center">You are logged in</h3>
                    <h5 class="text-center">Go to:</h5>
                    <div class="social" style="margin-top: 0px;">
                        <a href="/messaging/" class="btn btn-fill btn-icon" style="margin-top: 0px;">
                            Messaging
                        </a>
                    </div>

                    <div class="division">
                        <div class="line l"></div>
                        <span>or</span>
                        <div class="line r"></div>
                    </div>
                    <form class="loginForm" method="POST" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-fill btn-block">Logout</button>
                    </form>
                </div>

                {% else %}

                <div class="demo-card" style="margin: auto; margin-top: 30px;">
                    <h3 class="title text-center">Register</h3>
                    <form class="loginForm" method="POST" action="/accounts/signup/{% if '/?next=/messaging/' in request.get_full_path %}?next=/messaging/{% endif %}">
                        {% csrf_token %}
                        <input type="text" name="username" class="form-control" required id="id_username" placeholder="Username">

                        <input type="password" name="password1" class="form-control" required required id="id_password1" minlength="8" placeholder="Password">
                        <input type="password" name="password2" class="form-control" required required id="id_password2" minlength="8" placeholder="Password (Again)">
                                              
                        <button type="submit" class="btn btn-fill btn-block">Register</button>
                    </form>
                    <br>
                    <a href="/" class="btn btn-fill btn-block">Login</a>
                </div>
                {% endif %}

            </div>
            <div class="col-md-3 col-sm-2 col-xs-12"></div>
        </div>
    </div> 

{% endblock content %}