{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="messagingapp">
        <div class="container" style="margin-top: 7%;">
            <div class="row">
                
                <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1 col-sm-7 hidden-sm hidden-xs">
                    <div class="demo-card" style="margin: auto; margin-top: 30px;">
                        <h6 class="text-muted">Who do you want to talk to?</h6>
                        <ul class="list-unstyled follows">
                            <li v-for="user in users">
                                <div class="row" v-on:click="selectConversation(user.id)">
                                    <div class="col-lg-3 col-md-3 col-xs-3">
                                        <img src="{% static 'assets/img/placeholder.jpg' %}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-xs-9 description">
                                        <h5 v-if="user.first_name !== '' && user.last_name !== ''">[[ user.first_name ]] [[ user.last_name ]]</h5>
                                        <h5 v-else>[[ user.username ]]</h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div v-if="conversation_id == -1" class="col-xs-12 visible-sm visible-xs"> <!--hidden-xs-->
                    <div class="demo-card" style="margin: auto; margin-top: 30px; overflow-y: scroll; min-height: 60vh; max-height: 80vh; ">
                        <h6 class="text-muted">Who do you want to talk to?</h6>
                        <ul class="list-unstyled follows">
                            
                            <li v-for="user in users">
                                <div class="row" v-on:click="selectConversation(user.id)">
                                    <div class="col-lg-3 col-md-3 col-xs-3">
                                        <img src="{% static 'assets/img/placeholder.jpg' %}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-xs-9 description">
                                        <h5 v-if="user.first_name !== '' && user.last_name !== ''">[[ user.first_name ]] [[ user.last_name ]]</h5>
                                        <h5 v-else>[[ user.username ]]</h5>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-5 col-xs-12 hidden-sm hidden-xs">
                    <div class="demo-card" id="messages-panel-big" style="margin: auto; width: 100%; max-width: 100%; margin-top: 30px; overflow-y: scroll; max-height: 600px; ">
                        <div class="tweets">
                            
                            <template v-if="conversation_id != -1">
                                <div class="media" v-for="message in conversation_messages">
                                    <a v-if="message.sender_id != user_id" class="pull-left" href="#">
                                        <div class="avatar" v-on:click="scrollDown">
                                            <img class="media-object" alt="Tim Picture" src="{% static 'assets/img/placeholder.jpg' %}">
                                        </div>
                                    </a>
                                    <a v-else class="pull-right" href="#">
                                        <div class="avatar">
                                            <img class="media-object" alt="Tim Picture" src="{% static 'assets/img/placeholder.jpg' %}">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <strong v-if="message.sender_id != user_id">
                                            <template v-if="message.sender_user.first_name !== '' && message.sender_user.last_name !== ''">[[ message.sender_user.first_name ]] [[ message.sender_user.last_name ]]</template>
                                            <template v-else>[[ message.sender_user.username ]]</template>
                                        </strong>
                                        <strong v-else>Me</strong>
                                        <h5 class="media-heading"><small>[[ message.datetime ]]</small></h5>
                                        <p>
                                        [[ message.text ]]
                                        </p>
                                    </div>
                                </div> 

                                <form @submit.prevent="sendMessageSubmit" id="send_message_form" class="commentsForm">
                                    <div style="margin-top: 10px">
                                            <input class="form-control" placeholder="Say something nice..." v-model="newtext" rows="2" @keyup.enter="sendMessageSubmit"></textarea>
                                    </div>
                                    <div class="btn-area pull-right">
                                        <button type="submit" class="btn btn-primary">Send Message</button>
                                    </div>
                                </form>
                                <div class="btn-area pull-left">
                                        <button v-on:click="exitConversation" class="btn btn-primary visible-xs">Back</button>
                                </div>
                            </template>
                            <template v-else>
                                <h6 class="text-muted">Select a conversation to start.</h6>
                            </template>
                            
                        </div>
                    </div>
                </div>

                <div v-if="conversation_id != -1" class="col-lg-7 col-md-7 col-sm-12 col-xs-12 visible-sm visible-xs">
                    <div class="demo-card" id="messages-panel-small" style="margin: auto; width: 100%; max-width: 100%; margin-top: 30px; overflow-y: scroll; min-height: 60vh; max-height: 80vh; ">
                        <div class="tweets">
                            
                            <template v-if="conversation_id != -1">
                                <div class="media" v-for="message in conversation_messages">
                                    <a v-if="message.sender_id != user_id" class="pull-left" href="#">
                                        <div class="avatar">
                                            <img class="media-object" alt="Tim Picture" src="{% static 'assets/img/placeholder.jpg' %}">
                                        </div>
                                    </a>
                                    <a v-else class="pull-right" href="#">
                                        <div class="avatar">
                                            <img class="media-object" alt="Tim Picture" src="{% static 'assets/img/placeholder.jpg' %}">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <strong v-if="message.sender_id != user_id">
                                            <template v-if="message.sender_user.first_name !== '' && message.sender_user.last_name !== ''">[[ message.sender_user.first_name ]] [[ message.sender_user.last_name ]]</template>
                                            <template v-else>[[ message.sender_user.username ]]</template>
                                        </strong>
                                        <strong v-else>Me</strong>
                                        <h5 class="media-heading"><small>[[ message.datetime ]]</small></h5>
                                        <p>
                                        [[ message.text ]]
                                        </p>
                                    </div>
                                </div> 

                                <form @submit.prevent="sendMessageSubmit" id="send_message_form" class="commentsForm">
                                    <div style="margin-top: 10px">
                                            <input class="form-control" placeholder="Say something nice..." v-model="newtext" rows="2" @keyup.enter="sendMessageSubmit"></textarea>
                                    </div>
                                    <div class="btn-area pull-right">
                                        <button type="submit" class="btn btn-primary">Send Message</button>
                                    </div>
                                </form>
                                <div class="btn-area pull-left">
                                        <button v-on:click="exitConversation" class="btn btn-primary visible-sm visible-xs">Back</button>
                                </div>
                            </template>
                            <template v-else>
                                <h6 class="text-muted">Select a conversation to start.</h6>
                            </template>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> 

{% endblock content %}


{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

    Vue.mixin({ delimiters: ['[[',']]'] });
    
    var messagingapp = new Vue({
        el: '#messagingapp',
        data: {
            'user_id': '{{ user.id }}',
            'users': [],
            'messages': [],
            'conversation_messages': [],
            'conversations': {},
            'conversations_read_status': {},
            'target_user_messages': [],
            'conversation_id': '-1',
            'target_user_id': '-1',
            'newtext': '',
            //'messagesBottom': {},
            'scrollPending': 0,
            'new_message_api_url': "{% url 'messaging:new_message_api' sender_id=user.id receiver_id=222 message_text=333 %}"
            

        },
        methods: {
            getMessages: function() {
                var url = "{% url 'messaging:messages_list_api' %}";
                
                $.get(url, function (response, status) {
                    messagingapp.messages = response;
                    console.log(messagingapp.messages);

                    messagingapp.conversations = {};
                    messagingapp.conversations['-1']=[];
                    messagingapp.conversations_read_status = {};
                    
                    for (i = 0; i < messagingapp.messages.length; i++) {
                        var message = messagingapp.messages[i];

                        if (message.conversation_id in messagingapp.conversations){
                            messagingapp.conversations[message.conversation_id].push(message);
                        }
                        else{
                            messagingapp.conversations[message.conversation_id] = [];
                            messagingapp.conversations[message.conversation_id].push(message);
                        }
                    }

                    messagingapp.getConversationMessages();


                    /*
                    messagingapp.target_user_messages = [];
                    if(messagingapp.target_user_id.toString()!=="-1"){
                        if(messagingapp.user_id<messagingapp.target_user_id){
                            messagingapp.conversation_id = messagingapp.target_user_id+'_'+messagingapp.user_id;
                        }
                        else{
                            messagingapp.conversation_id = messagingapp.user_id+'_'+messagingapp.target_user_id
                        }

                        var i;
                        for (i = 0; i < messagingapp.messages.length; i++) {
                            var message = messagingapp.messages[i];

                            if(message.conversation_id === messagingapp.conversation_id){
                                messagingapp.target_user_messages.push(message);
                            }
                        }
                    }*/

                    //mark current conversation messages that you are receiver of as read
                    /*if(messagingapp.conversation_id!==''){
                        var read_api = messagingapp.read_actionurl.replace("999", encodeURIComponent(messagingapp.conversation_id.replace(/[\r\n]+/g,' ').trim()));
                        $.get(read_api, function (response, status) {
                            //
                        });
                        messagingapp.conversations_read_status[messagingapp.conversation_id] = true
                    }*/

                    /*
                    if (messagingapp.messages.length > messagingapp.messages_count){
                        messagingapp.messages_count = messagingapp.messages.length;

                        // MESSAGE PANEL SCROLL
                        messagingapp.messagePanel = $(".panel-message.fixed-panel");
                        if(messagingapp.messagePanel !== undefined && messagingapp.messagePanel.length > 0){
                            messagingapp.messagePanel.scrollTop(messagingapp.messagePanel[0].scrollHeight);
                        }
                    }*/
                });
            },
            getConversationMessages: function(){
                this.conversation_messages = [];
                this.conversation_messages = this.conversations[this.conversation_id];
            },
            getUsers: function() {
                var url = "{% url 'messaging:users_api' %}";
                
                $.get(url, function (response, status) {
                    messagingapp.users = response;
                    console.log(messagingapp.users);
                });
            },
            selectConversation: function(target_user_id){
                this.conversation_id = '-1';
                this.target_user_id = target_user_id;

                if(this.user_id<target_user_id)
                    this.conversation_id = target_user_id+'_'+this.user_id;
                else
                    this.conversation_id = this.user_id+'_'+target_user_id;
                
                console.log('conversation_id: ' + this.conversation_id);
                this.getConversationMessages();
                this.scrollPending = 1;
            },
            exitConversation: function(){
                this.conversation_id = '-1';
            },
            scrollDown: function(messagesPanelId){
                if(this.scrollPending === 2){
                    var div = document.getElementById('messages-panel-small');
                    $('#' + 'messages-panel-small').animate({
                        scrollTop: div.scrollHeight - div.clientHeight
                    }, 300);

                    var div = document.getElementById('messages-panel-big');
                    $('#' + 'messages-panel-big').animate({
                        scrollTop: div.scrollHeight - div.clientHeight
                    }, 300);

                    this.scrollPending = 0;
                }
                if(this.scrollPending === 1){
                    this.scrollPending = 2;
                }
            },
            sendMessageSubmit() {
                var url = this.new_message_api_url.replace("222", this.target_user_id).replace("333", encodeURIComponent(this.newtext.replace(/[\r\n]+/g,' ').trim()));

                $.get(url, function (response, status) {
                    messagingapp.getMessages();
                    messagingapp.newtext = '';
                });
            }
            
        },

        mounted: function() {
            console.log(this.user_id);
            this.getUsers();
            this.getMessages();

            setInterval(function () {
                this.getMessages();
            }.bind(this), 400);

            setInterval(function () {
                this.scrollDown();
            }.bind(this), 200);
        }
    });

</script>
{% endblock extra_js %}